table,
th,
td {
  border: 3px solid #000a9c;
  border-collapse: collapse;
  padding: 5px 10px;
}
.key{
  color: #6800cf;
  font-size: 20px;
}
.project {
  background-color: #1c1c1c;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}